.login{
    text-align: center;
    padding-top: 6rem;

    form{
    input{
        margin-bottom: 1rem;
    }
    button{
        background-color: rgb(94, 94, 215);
        border: none;
        padding: 10px 30px;
        border-radius: 20px;
        color: white;
    }
}
}

.sign{
    text-align: center;
    padding-top: 6rem;

    form{
    input{
        margin-bottom: 1rem;
    }
    button{
        background-color: rgb(94, 94, 215);
        border: none;
        padding: 10px 30px;
        border-radius: 20px;
        color: white;
    }
}
}